@charset "utf-8";

/*-------------------------------------------------------------------
    File definitio: Responsive css on all pages
    Order: header > main > sub pages > footer
-------------------------------------------------------------------*/

@media screen and (max-width: 1470.98px) {
    .characteristics_inn .characteristics_img .img {width: 300px;}
    .characteristics_inn .characteristics_text {font-size: 25px;padding: 30px;line-height: 30px;}
    .characteristics_sec02_inn {margin-top: 0;}
    .characteristics_inn .characteristics_sec01 .line02 {height: 45%;bottom: 0;}

    
   
      
   
    /* .div_1_sub1_con  .sub1_image4{
        width: 140px;
        height: 310px;
    } */
    
    .div_1_sub1_con .for_image{
       width: 300px;
    }
    .for_cap2_sub{
        margin-top: 0;
    }
    .div_1 .div_1_sub1_con .for_line2 {
        height: 50%;
        top: 50%;
        left: 50%;
    }
    .for_line_con{
        padding: 20px;
        width: 300px;
        height: 120px;
        z-index: 62;
        /* background-color: pink; */
    }
    .for_line_con p{
        font-size: 28px;
    }
    .application_container{
        margin-top: 50px;
    }
    .for_all_container{
        
        gap: 50px;
    }
    .for_all_container2{
        gap: 50px;
    }
    .image_container_2 img{
        /* position: absolute; */
        width: 150px;
        height: 150px;
    }
    .for_text{
        width: 130px;
        height: 130px;
    }
    .image_container_2 img{
        /* position: absolute; */
        width: 150px;
        height: 150px;
    }
    .image_container_2 .cap_2{
        text-align: center;
        margin-top: 50px;
        /* margin-top: 25px; */
    }
    .for_text{
        width: 130px;
        height: 130px;
    }
    .for_text .cap_2{
        font-size: 19px;
        margin-top: 55px;
    }
    .for_line_1{
      transform: rotate(60deg);
      width: 800px;
    }
    .for_line_2{
    
      transform: rotate(-60deg);
      width: 800px;
    }
}

@media screen and (max-width: 1300.98px) {
 
}
@media screen and (max-width: 1000.98px) {

    .characteristics_inn .characteristics_sec01 {flex-direction: column;gap: 80px;}
    .characteristics_inn .characteristics_text {margin-top: 0;}
    .characteristics_inn .characteristics_sec01 .line01 {display: none;}
    .characteristics_inn .characteristics_sec01 .line02 {height: 20%;bottom: 0;top: 50%;transform: translate(-50%, -50%);}
    .characteristics_inn .characteristics_sec02 {margin-top: 50px;}



   .content_title{
    text-align: center;
   }
   .div_1 .div_1_sub1_con{
    flex-direction: column;
    gap: 80px;
   }
  .div_1_sub1_con .cap1{
    margin-top: 0;
  }
   .for_cap2_sub {
    margin-top: 0;
}
  
   .div_1 .div_1_sub1_con .for_line1{
    display: none;
   }
   .div_1 .div_1_sub1_con .for_line2{
    height: 20%;
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
   }
   .div_1 .div_1_sub2_con{
    margin-top: 50px;
   }
    .for_all_container{
       display: flex;
       margin-bottom: 100px;
      justify-content: center;
      align-items: center;
       flex-direction: column;
    }
    .for_all_container2{
        display: flex;
        margin-top: 400px;
       justify-content: center;
       align-items: center;
        flex-direction: column;
     }
     .container_1{
      width: 400px;
      height: 350px;
      padding: 10px 5px;
    }
    .image_container_1 img{
        width: 150px;
        height: 150px;
    }
    .for_all_container2 .for_img10{
        width: 120px;
        height: 120px;
        left: 20px;
        top: 10px;
    
     }
     .for_all_container2 .for_img11{
        width: 75px;
        height: 75px;
        left: 0;
     }
     .for_all_container2 .for_img12{
        margin-left: 180px;
        padding-top: 10px;
    }
    .image_container_2 img{
        /* position: absolute; */
        width: 190px;
        height: 190px;
    }
    .for_text{
        width: 170px;
        height: 170px;
    }
    .for_text .cap_2{
        font-size: 24px;
        margin-top: 75px;
    }
    .image_container_2 .for_line_1{
        transform: rotate(90deg);
        width: 1500px;
    }
    .image_container_2 .for_line_2{
        display: none;
    }
    
}
@media screen and (max-width: 767.98px) {

    main h1 { 
        font-size: 20px;
    }

    main section div {
        width: 100%;
    }
    .content_title{
        padding: 10px 0;
    }
    
     .for_cap2_sub{
        padding: 0 20px;
     }
     
}
@media screen and (max-width: 575.98px) {

    .characteristics_inn .characteristics_img .txt {font-size: 18px;}
    .characteristics_inn .characteristics_text {font-size: 18px;padding: 20px 43px;line-height: 26px;}
    .characteristics_inn .characteristics_img .img {width: 250px;}
    .characteristics_inn .characteristics_sec02 li {font-size: 15px;line-height: 26px;}
    .characteristics_inn .characteristics_sec02 h4 {font-size: 16px;line-height: 22px;}
    .characteristics_inn .characteristics_sec02 h3 {font-size: 24px;}


    .content_title{
        padding: 10px 0;
    }
   
    /* .div_1_sub1_con  .sub1_image2{
        display: flex;
        right: 100px;
        position: absolute;
     } */
     
      .container_1{
       width: 350px;
       height: 300px;
       padding: 10px 5px;
     }
     .image_container_1 img{
         width: 100px;
         height: 100px;
     }
     .for_all_container2 .for_img10{
        width: 100px;
        height: 100px;
        left: 40px;
        top: 15px;
    
     }
     .for_all_container2 .for_img11{
        width: 65px;
        height: 65px;
        left: 20px;
     }
     .for_all_container2 .for_img12{
        margin-left: 120px;
        padding-top: 10px;
    }
     .container_1 .cap_1{
        font-size: 16px;
     }
     .for_text .cap_2{
        font-size: 18px;
        margin-top: 75px;
    }
     .div_1_sub2_con .for_cap2_sub .cap2_sub1{
        font-size: 26px;
     }
     .div_1_sub2_con .for_cap2_sub .cap2_sub2{
        font-size: 18px;
        line-height: 22px;
     }
     .div_1_sub2_con .for_cap2_sub ul li{
        font-size: 16px;
     }
}
@media screen and (max-width: 483px) {
    .content_title{
        padding: 10px;
        font-size: 25px;
    }
    
      .container_1{
       width: 300px;
       height: 250px;
       padding: 10px 5px;
     }
     .container_1 .cap_1{
        font-size: 12px;
     }
     .image_container_1 img{
         width: 80px;
         height: 70px;
     }
     .for_all_container2 .for_img10{
        width: 70px;
        height: 70px;
        left: 60px;
        top: 25px;
     }
     .for_all_container2 .for_img11{
        width: 45px;
        height: 45px;
        z-index: 66;
        left: 50px;
        top: 20px;
     }
     .for_all_container2 .for_img12{
         margin-left: 100px;
         padding-top: 10px;
     }
     .image_container_2 img{
        /* position: absolute; */
        width: 150px;
        height: 150px;
    }
    .for_text{
        width: 140px;
        height: 140px;
    }
    .image_container_2 .cap_2{

        margin-top: 60px;
        font-size: 16px;
       
    }
     .image_container_2 .for_line_1{
         transform: rotate(90deg);
         width: 1200px;
     }
     .image_container_2 .for_line_2{
         display: none;
     }
}