@charset "utf-8";

/*-------------------------------------------------------------------
    File definition: Pages contents css
    Order: Sub Banner > Sub contents ...
-------------------------------------------------------------------*/

/* 01 start */
.div_1{
    margin-top: 43px;
}
.div_1_sub1_con{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.div_1_sub1_con .for_image{
    z-index: 1;
    text-align: center;
}

.div_1_sub1_con .for_image .cap1 p{
    font-size: 24px;
    color: #141414;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 11px;
    text-align: center;
}
.for_line_con{
    border-width: 1px;
    border-color: rgb(245, 245, 245);
    border-style: solid;
    background-color: rgb(253, 253, 253);
    border-radius: 124px;
    padding: 40px;
    box-shadow: -2.034px -4.568px 4.75px 0.25px rgba(238, 238, 238, 0.3),2.046px 2.194px 4.75px 0.25px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 410px;
    height: 179px;
    z-index: 62;
    /* background-color: pink; */
}
.for_line_con p{
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    /* position: relative; */
    z-index: 63;
    font-weight: 500;
}
.div_1_sub1_con .for_line1{
    position: absolute;
    width: 80%;
    border: none;
    border-bottom: 2px dashed #767676;
    height: 2px;
    margin-left: 35px;
}
.div_1_sub1_con .for_line2{
    position: absolute;
    width: 1px;
    border: none;
    border-right: 2px dashed #767676;
    left: 50%;
    height: 25%;
    bottom: 23%;
}
.div_1 .div_1_sub2_con{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.div_1_sub2_con .for_cap2_sub .cap2_sub1{
    color: #0077b6;
    font-size: 30px;
    font-weight: 700;
}
.div_1_sub2_con .for_cap2_sub .cap2_sub2{
    color: #141414;
    font-size: 20px;
    line-height: 26px;
    padding: 3px 0 9px;
    font-weight: 700;
}
.div_1_sub2_con .for_cap2_sub li{
    font-size: 20px;
    color: #585858;
    font-weight: 300;
    position: relative;
    padding-left: 11px;
    line-height: 36px;   
}
.div_1_sub2_con .for_cap2_sub li::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #0077b6;
    border-radius: 50px;
    left: 0;
    top: 13px;
}
.for_cap2_sub{
    margin-top: -123px;
}
/* 01 end */
/* 02 start */
.application_container{
    width: 73%;
    height: fit-content;
    margin: 0 auto;
}
.for_all_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 300px;
}
.for_all_container2{
    margin-top: 210px;
    display: flex;
    justify-content: space-around;
    gap: 300px;
}
.container_1{
    border-radius: 30px;
   background-color: rgb(253, 253, 253);
   box-shadow: -2.034px -4.568px 4.75px 0.25px rgba(238, 238, 238, 0.3),2.046px 2.194px 4.75px 0.25px rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 300px;
  z-index: 56;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 5px;
}
.container_1 .cap_1{
    font-size: 24px;
    font-family: 'Noto Sans CJK KR'; 
    color: rgb(20, 20, 20);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    z-index: 61;
    letter-spacing: -0.15px;
}
.image_container_1{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 30px 5px;
}
.image_container_1 img{
    width: 100px;
    height: 100px;
}
.for_all_container2 .sub_container{
    position: absolute;
    width: 300px;
    height: 100px;
    /* background-color: blue; */
    padding: 10px;
}
.for_all_container2 .for_img10{
    position: absolute;
   left: 55px;
   top: 20px;
  width: 102px;
  height: 100px;
  z-index: 66;
}
.for_all_container2 .for_img11{
    position: absolute;
    /* left: 423px;
    top: 1362px; */
    width: 75px;
    height: 75px;
    z-index: 66;
    left: 20px;
}
.for_all_container2 .for_img12{
    position: relative;
    margin-left: 140px;
    padding-top: 10px;
}
.image_container_2{
    width: 64%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 200px;
}
.image_container_2 img{
    position: absolute;
    width: 190px;
    height: 190px;
}
.for_text{
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    box-shadow: -2.034px -4.568px 4.75px 0.25px rgba(238, 238, 238, 0.3),2.046px 2.194px 4.75px 0.25px rgba(0, 0, 0, 0.3);
    position: absolute;
    /* left: 850px;
    top: 1104px; */
    width: 170px;
    height: 170px;
    z-index: 90;
}
.image_container_2 .cap_2{
    font-size: 24px;
    font-family: 'Noto Sans CJK KR'; 
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.25;
    text-align: center;
    font-weight: 500;
    margin-top: 75px;
    z-index: 91;
}
.for_line_1{
    border-width: 2px;
  border-color: rgb(118, 118, 118);
  border-style: dashed;
  position: absolute;
  transform: rotate(30deg);
  /* left: 417px; */
  top: 100px;
  width: 1000px;
  /* height: 529px; */
  z-index: 54;
}
.for_line_2{
    border-width: 2px;
  border-color: rgb(118, 118, 118);
  border-style: dashed;
  position: absolute;
  transform: rotate(-30deg);
  /* left: 417px; */
  top: 100px;
  width: 1000px;
  /* height: 529px; */
  z-index: 54;
}
/* 02 end */